<!DOCTYPE html>
<html>
  <head>
    <!--  All Rights Reserved - Louis Andrada - 2026 -->
    <!--   Webdesign by Jinah Park & Louis Andrada   -->
     <!--     AndradaMono Font by Louis Andrada       -->
     <!--       Codes by Louis Andrada                -->
    <meta http-equiv="refresh" content="0; url=https://raw.githubusercontent.com/louis7andrada/louis-andrada-images/main/docs/Louis_Andrada_CV.pdf">
    <link rel="canonical" href="https://raw.githubusercontent.com/louis7andrada/louis-andrada-images/main/docs/Louis_Andrada_CV.pdf">
  </head>
  <body></body>
</html>