<footer class="w-full border:none px-8 py-4 flex items-center justify-between text-gray-500 dark:text-gray-600">
  <!--  All Rights Reserved - Louis Andrada - 2026  -->
  <!--    Webdesign by Jinah Park & Louis Andrada   -->
  <!--      AndradaMono Font by Louis Andrada       -->
  <!--        Codes by Louis Andrada                -->
  <span class="text-[13px]">
    Louis Andrada © {{ now.Format "2006" }} — All Rights Reserved
  </span>
  <span class="text-right leading-tight text-[10px]">
    This site is protected by reCAPTCHA and<br>the Google Privacy Policy and Terms of Service apply.
  </span>
<style>
  @media (max-width: 640px) {
    footer { flex-direction: column; gap: 0.75rem; }
    .text-right { text-align: center; }
  }
</style>
  
</footer>