<footer class="w-full text-center border-t border-gray-300 text-sm text-gray-600 dark:text-gray-600 py-4">
  <div class="mb-2">
    <a href="/">
      <img src="/logo.png" alt="Louis Andrada Logo" class="h-7 w-20 dark:invert mx-auto" style="image-rendering: auto;">
    </a>
  </div>
  © {{ now.Format "2006" }} Louis Andrada — All Rights Reserved
  <div class="mt-1 text-[10px] leading-tight opacity-60">
    This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
  </div>
</footer>